.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local
*runtimeconfig.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
.firebase/*
*.log

# https://firebase.google.com/docs/cli#source_control_aliases
.firebaserc

# Databse cache
public/dbcache.js
