@charset "utf-8";
@use "sass:map";

@import "./mixins.scss";
@import "./vars.scss";

// Import only what you need from Bulma
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/_all.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/components/_all.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/helpers/_all.sass";
@import "bulma/sass/layout/_all.sass";

// extend bulma spacing since it only goes up to 6rem
// https://github.com/jgthms/bulma/blob/master/sass/helpers/spacing.sass
$spacing-values: map.merge($spacing-values, (
  "7": 7rem,
  "8": 8rem,
  "9": 9rem,
  "10": 10rem,
  "11": 11rem,
  "12": 12rem,
));
@import "bulma/sass/helpers/spacing.sass";

// Bulma has is-hidden-* classes that hide elements after a breakpoint, but does not seem to have classes that hide elements up to a breakpoint
$devices: (
  tablet: $tablet,
  desktop: $desktop,
  widescreen: $widescreen,
  fullhd: $fullhd,
);

@each $key,$value in $devices {
  @include until($value) {
    .from-#{$key} {
      display: none;
    }
  }
}

// override bulma title
.title, .title:not(:last-child) {
  margin-bottom: 10px;
}

.button {
  color: black;
  cursor: pointer;
  border: solid 1px black;
  text-transform: uppercase;
}
