.w-100 {
  width: 100%;
}

.page-title {
  text-align: center;
  margin-bottom: 1.5rem !important;
}

// set the primary color based on a rotating theme (ancestor selector)
@mixin primary($property) {
  .theme1 & { #{$property}: $primary1; }
  .theme2 & { #{$property}: $primary2; }
  .theme3 & { #{$property}: $primary3; }
  .theme4 & { #{$property}: $primary4; }
}
@mixin secondary($property) {
  .theme1 & { #{$property}: $secondary1; }
  .theme2 & { #{$property}: $secondary2; }
  .theme3 & { #{$property}: $secondary3; }
  .theme4 & { #{$property}: $secondary4; }
}
