@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');
$family-sans-serif: Sen, sans-serif;

$primary1: #dc633a;
$primary2: #bc9c2d;
$primary3: #5c997a;
$primary4: #0439D8;

$background: white;
$notification-background-color: hsl(0, 0%, 96%);
$lightgrey: #eee;
$grey: #c4c4c4;

$leftbar-width: 200px;
$rightbar-width: 70px;
$mobile-header-height: 14px;
$mobile-footer-height: 94px;

// manage all z-indexes in one place
$zAlert: 1000;
$zPopup: 100;
$zMobileHeader: 10;
$zField: 10;
